#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #b3409f;
  text-decoration: none;
  padding: 1em;
}

header a {
  color: inherit;
  text-decoration: none;
  margin: 1em;
  padding: .5em;
}

header a:hover {
  background-color: grey;
  
}